<?xml version="1.0"?>
<!--
/**
 * @category   IntegerNet
 * @package    IntergerNet_Haendlerbund
 * @copyright  Copyright (c) 2013-2014 integer_net GmbH (http://www.integer-net.de/)
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software Licence 3.0 (OSL-3.0)
 * @author     integer_net GmbH <info@integer-net.de>
 * @author     Soeren Zorn <sz@integer-net.de>
 * @author     Viktor Franz <vf@integer-net.de>
 */
-->

<config>
    <modules>
        <IntegerNet_Haendlerbund>
            <version>1.0.0</version>
        </IntegerNet_Haendlerbund>
    </modules>
    <global>
        <helpers>
            <integernet_haendlerbund>
                <class>IntegerNet_Haendlerbund_Helper</class>
            </integernet_haendlerbund>
        </helpers>
        <blocks>
            <integernet_haendlerbund>
                <class>IntegerNet_Haendlerbund_Block</class>
            </integernet_haendlerbund>
        </blocks>
        <models>
            <integernet_haendlerbund>
                <class>IntegerNet_Haendlerbund_Model</class>
            </integernet_haendlerbund>
        </models>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <IntegerNet_Haendlerbund before="Mage_Adminhtml">IntegerNet_Haendlerbund_Adminhtml</IntegerNet_Haendlerbund>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <IntegerNet_Haendlerbund>
                    <files>
                        <default>IntegerNet_Haendlerbund.csv</default>
                    </files>
                </IntegerNet_Haendlerbund>
            </modules>
        </translate>
    </adminhtml>
    <crontab>
        <jobs>
            <integernet_haendlerbund>
                <schedule>
                    <cron_expr>0 1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_haendlerbund/import::schedulingRun</model>
                </run>
            </integernet_haendlerbund>
        </jobs>
    </crontab>
    <default>
        <integernet_haendlerbund>
            <setting>
                <is_active>0</is_active>
                <access_token></access_token>
                <scheduling>0</scheduling>
                <api_uri><![CDATA[https://www.hb-intern.de/www/hbm/api/live_rechtstexte.htm?APIkey=%s&AccessToken=%s&did=%s&mode=%s]]></api_uri>
                <api_key>1IqJF0ap6GdDNF7HKzhFyciibdml8t4v</api_key>
            </setting>
        </integernet_haendlerbund>
    </default>
</config>