<?xml version="1.0"?>
<!--
/**
 * @category   IntegerNet
 * @package    IntegerNet_Haendlerbund
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software Licence 3.0 (OSL-3.0)
 * @author     Soeren Zorn <sz@integer-net.de>
 */
-->
<config>
    <modules>
        <IntegerNet_Haendlerbund>
            <version>0.1.0</version>
        </IntegerNet_Haendlerbund>
    </modules>

    <global>
        <helpers>
            <integernet_haendlerbund>
                <class>IntegerNet_Haendlerbund_Helper</class>
            </integernet_haendlerbund>
        </helpers>
        <models>
            <integernet_haendlerbund>
                <class>IntegerNet_Haendlerbund_Model</class>
            </integernet_haendlerbund>
        </models>
    </global>
    <default>
        <integernet_haendlerbund>
            <rechtstexte>
                <apiuri><![CDATA[https://www.hb-intern.de/www/hbm/api/live_rechtstexte.htm?APIkey=%s&did=%s&AccessToken=%s&mode=%s]]></apiuri>
                <enable_automatic_update>1</enable_automatic_update>
                <api_key>1IqJF0ap6GdDNF7HKzhFyciibdml8t4v</api_key>
                <allgemeine_geschaeftsbedingungen>0</allgemeine_geschaeftsbedingungen>
                <rueckgaberecht_fuer_verbraucher>0</rueckgaberecht_fuer_verbraucher>
                <widerrufsbelehrung>0</widerrufsbelehrung>
                <bedingungen_fuer_zahlung_und_versand>0</bedingungen_fuer_zahlung_und_versand>
                <datenschutzerklaerung>0</datenschutzerklaerung>
                <batteriehinweise>0</batteriehinweise>
                <mode>default</mode>
            </rechtstexte>
        </integernet_haendlerbund>
    </default>

    <crontab>
        <jobs>
            <integernet_haendlerbund>
                <schedule>
                    <cron_expr>*/60 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>integernet_haendlerbund/insertLegislativeTexts::run</model>
                </run>
            </integernet_haendlerbund>
        </jobs>
    </crontab>
</config>