<?xml version="1.0"?>
<!--
/**
 * @category   IntegerNet
 * @package    IntegerNet_Haendlerbund
 * @license    http://opensource.org/licenses/osl-3.0.php Open Software Licence 3.0 (OSL-3.0)
 * @author     Soeren Zorn <sz@integer-net.de>
 */
-->
<config>
    <sections>
        <integernet_haendlerbund translate="label" module="integernet_haendlerbund">
            <label>Händlerbund</label>
            <tab>general</tab>
            <frontend_type>text</frontend_type>
            <sort_order>2000</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <rechtstexte translate="label">
                    <label>Rechtstexte</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enable_automatic_update translate="label">
                            <label>Automatische Updates</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Automatische Updates werden jeden Tag um 1:00 Uhr ausgeführt.</comment>
                        </enable_automatic_update>
                        <access_token translate="label">
                            <label>Access token</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </access_token>
                        <allgemeine_geschaeftsbedingungen translate="label">
                            <label>Allgemeine Geschäftsbedingungen</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </allgemeine_geschaeftsbedingungen>
                        <rueckgaberecht_fuer_verbraucher translate="label">
                            <label>Rückgaberecht für Verbraucher</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </rueckgaberecht_fuer_verbraucher>
                        <widerrufsbelehrung translate="label">
                            <label>Widerrufsbelehrung</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </widerrufsbelehrung>
                        <bedingungen_fuer_zahlung_und_versand translate="label">
                            <label>Bedingungen für Zahlung und Versand</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </bedingungen_fuer_zahlung_und_versand>
                        <datenschutzerklaerung translate="label">
                            <label>Datenschutzerklärung</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </datenschutzerklaerung>
                        <impressum translate="label">
                            <label>Impressum</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </impressum>
                        <batteriehinweise translate="label">
                            <label>Batteriehinweise</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_cmsSites</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </batteriehinweise>
                        <mode translate="label">
                            <label>Darstellungsoption</label>
                            <frontend_type>select</frontend_type>
                            <source_model>integernet_haendlerbund/system_config_source_haendlerbund_mode</source_model>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mode>
                        <insert_legislative_texts translate="button_label">
                            <label></label>
                            <button_label>Füge Rechtstexte jetzt ein</button_label>
                            <frontend_model>integernet_haendlerbund/adminhtml_system_config_insertlegislativetexts</frontend_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </insert_legislative_texts>
                    </fields>
                </rechtstexte>
            </groups>
        </integernet_haendlerbund>
    </sections>
</config>
